<footer class="bg-dark p-3 text-light">
    <div class="f-info">
        <div class="f-info-socials mb-2">
            <i class="fa-brands fa-square-facebook fa-2xl"></i>
            <i class="fa-brands fa-square-instagram fa-2xl"></i>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </div>


        <div>DreamPlace Private Limited</div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Company Details</a>
        </div>
    </div>
</footer>