<% layout("/layouts/boilerplate.ejs") %> 
<!-- <h2 class="m-4 fw-bold">SignUp </h2> -->
 <div class="row col-8 offset-2 mt-5 login-bg">
    <div class="col">
        <form action="/signup" method="post" class="needs-validation" novalidate>
               <div>
                <label for="username" class="form-label">Username : </label>
                <input type="text" id="username" name="username" class="form-control" required>
                <div class="invalid-feedback"> Username Should be Vaild</div>
                <div class="valid-feedback"> Username Looks Good</div>
            </div>
              <div>
                <label for="email" class="form-label">Email : </label>
                <input type="email" id="email" name="email" class="form-control" required>
                <div class="invalid-feedback"> Email Should be Vaild</div>
                <div class="valid-feedback"> Email Looks Good</div>
            </div>
             <div>
                <label for="password" class="form-label">Password : </label>
                <input type="password" id="password" name="password" class="form-control" required>
                <div class="invalid-feedback"> Password Should be Vaild</div>
                <div class="valid-feedback"> Password Looks Good</div>
            </div><br>
            <button class="btn btn-dark login-btn">SignUp</button>
        </form>
    </div>
  </div>
